/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/
html {
     font-size: 1rem;
     font-family: "Roboto", sans-serif;
     
}

/******************************************
/* IMG
/*******************************************/
/* LOGO IMAGE */
nav img{
     width: 40px;
}
nav img:hover{
     transform: scale(1.2);
}
nav img:active{
     opacity: 75%;
}
/* Third IMG */
.third img{
     width: 50%;
     border:1px solid white;
     margin: 2.5rem 0;
}
/* FOOTER LOGO */
footer img{
     width: 50px;
     height: 60px;
}
/******************************************
/* BUTTON
/*******************************************/

/* Nav Button */
nav .btn{
     height: 3rem;
     font-size: 1rem;
     font-weight: 600;
     border-radius: .5rem;
     border:2px solid rgb(112,128,145);
     color: rgb(112,128,145);
     position: relative;
     left: 3rem;
}
.btn{
     height: 3rem;
     font-size: 1rem;
     font-weight: 600;
     border-radius: .5rem;
     border:2px solid rgb(112,128,145);
     color: rgb(112,128,145);
     position: relative;
}
.btn:hover{
     background:rgb(112,128,145);
     color: white;
     border: 1px solid white;
     transition: .3s ease-in-out;
}
.btn:active{
     transform: scale(.9);
}
/* Third and Fourth Button */
.third button,
.fourth button{
     font-size: 1.5rem;
     height: 5rem;
     width: 15rem;
     color: black;
}

/* Social Button */
.Social li:hover{
     transform: scale(.9);
     opacity: 50%;
}
/* Email Address Link */
.address a:hover{
     opacity: 50%;
}
/******************************************
/* HEADER
/*******************************************/


/* Nav Links */
nav{
     background: rgb(112,128,145);
     display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
     justify-content: space-evenly;
     padding: 1rem 0;
     padding-right:5rem;
     
}
.blue{
     display: flex;
     flex-direction: row;
}
.blue li{
     display: flex;
     font-size: .8rem;
     padding: 0 1rem;
}
.blue a{
     color: white;
     text-decoration: none;
     font-weight: 600;
}
.blue a:hover{
     transform: scale(1.1);
     opacity: 50%;
} 
/******************************************
/* MAIN
/*******************************************/
.main{
     display:flex;
     flex-direction: column;
     text-align: center;
     padding: 0 2rem;
     background: rgb(112,128,145);
     color: white;
}
.main h1{
     display:flex;
     justify-self: center;
     font-size: 3rem;
     padding: 2rem 0;
     font-weight: 600;
}
.main p{
     display: flex;
     justify-self: center;
     margin: 0 auto;
     padding: 1rem 0;
}
.main a{
     display: flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
     font-size: 1.5rem;
     color: white;
     text-decoration: none;
     padding: 1rem 0;
}
.main a:hover{
     transform: scale(1.1);
     opacity: 50%;
}
.main i{
     font-size: 2.5rem;
     margin: 0 1rem;
}
.main span{
     display: flex;
     justify-content: center;
     padding: 2rem 0 2rem;
     color: rgb(80, 80, 80);
}
/******************************************
/* SECOND
/*******************************************/
.second{
     display:flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     padding: 6rem 0;
}
.second h2{
     font-size: 2rem;
     font-weight: 600;
     padding-bottom: 2rem;
}
.second p{
     width: 75%;
}

/******************************************
/* THIRD
/*******************************************/
.third{
     display: flex;
     flex-direction: column;
     justify-content: space-evenly;
     text-align: center;
     background: rgb(219,223,226);
     padding: 4rem 0;

}
.third section{
     padding: 2rem 0;
}
.third h3{
     font-weight: 600;
     font-size: 1.5rem;
     padding: 2rem 0;
}
.third p{
     margin: 0 auto;
     width: 75%;
     padding-bottom:2rem;
}

/******************************************
/* FOURTH
/*******************************************/
.fourth{
     display:flex;
     flex-direction: column;
     align-items: center;
     text-align: center;
     padding: 4rem 0 1rem 0;
}
.fourth h3{
     font-weight: 600;
     font-size: 1.5rem;
     padding: 2rem 0;
}
.fourth p{
     width: 75%;
     margin: 0 auto;
     padding: 2rem 0;
}

/******************************************
/* Footer
/*******************************************/
.bottom{
     display:flex;
     flex-direction: row;
     justify-content: space-between;
     font-size: .8rem;
     margin-top: 4rem;
     padding: 1rem .5rem;
     background: rgb(22,30,42);
     color: white;
     position: relative;
}
.bottom span,
.bottom p{
     color: rgb(112,128,145);
}
.bottom::after{
     content: "";
     position: absolute;
     left: 0;
     bottom: 0;
     height: .1rem;
     width: 100%;
     background: white;
}
/* LEFT SIDE Social Links */
.socials,
.map,
.contribute{
     display:flex;
     flex-direction:row;
     padding: 1rem 0;
}
.fa-brands,
.fa-regular{
     font-size: 1.5rem;
}
.bottom a{
     color: white;
     text-decoration: none;
     padding: 0 1rem 0 0;
}
/* RIGHT SIDE ADDRESS */
.right h6,
.right p{
     padding: .5rem 0;
     line-height: 1.5rem;
}
/* COPYRIGHT */
.ORG{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
     padding: 2rem .5rem;
     background: rgb(22,30,42);
     color: white;
}
.ORG p{
     width: 50%;
     font: 1rem;
}
@media (min-width:1120px) {
     nav{
          padding: 2rem 11.5rem 4rem 0;
     }
     nav .btn{
          font-size: 1.5rem;
          height: 3.5rem;
     }
     .blue li{
          font-size: 1.5rem;
     }
     .main h1{

          font-size: 4.5rem;
     }
     .main p{
          font-size: 1.5rem ;
          width: 50%;
     }
     .third{
          flex-direction: row;
          width: 100%;
     }
     .third section{
          padding: 0 2rem;
     }
     .third img{
          width: 500px;
          height: 50%;
     }
     footer img{
          padding: 0;
          width: 30px;
          height: 40px;
     }
}